In [3]:
import numpy as np
import pandas as pd

In [41]:
df = pd.read_csv('../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

In [16]:
df.describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [28]:
df[df['height'] > df['height'].mean() ]['gender'].value_counts()

2    19999
1    15575
Name: gender, dtype: int64

In [46]:
df['gender'].value_counts() # q1

female    45530
male      24470
Name: gender, dtype: int64

In [42]:
df['gender'] = df['gender'].map({2.0: 'male', 1.0: 'female'})
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,male,168,62.0,110,80,1,1,0,0,1,0
1,20228,female,156,85.0,140,90,3,1,0,0,1,1
2,18857,female,165,64.0,130,70,3,1,0,0,0,1
3,17623,male,169,82.0,150,100,1,1,0,0,1,1
4,17474,female,156,56.0,100,60,1,1,0,0,0,0

In [160]:
df.groupby('gender')['alco'].mean() # q2 - female

gender
female    0.025144
male      0.104333
Name: alco, dtype: float64

In [76]:
((df[(df['gender'] == 'male') & ( df["smoke"] == 1)]['gender'].count()  / df[df['gender'] == 'male']['gender'].count() ) /
(df[(df['gender'] == 'female') & ( df["smoke"] == 1)]['gender'].count() / df[df['gender'] == 'female']['gender'].count()))
# q3 men 12 times

12.257833097333833

In [78]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,male,168,62.0,110,80,1,1,0,0,1,0
1,20228,female,156,85.0,140,90,3,1,0,0,1,1
2,18857,female,165,64.0,130,70,3,1,0,0,0,1
3,17623,male,169,82.0,150,100,1,1,0,0,1,1
4,17474,female,156,56.0,100,60,1,1,0,0,0,0

In [90]:
df['age_y'] = (df['age'] / 365.25)

In [91]:
(df[df['smoke'] == 0]['age_y'].median() - df[df['smoke'] == 1]['age_y'].median()) * 12 # q4 20

19.61396303901438

In [118]:
df['age_y'] = df['age_y'].round().astype('int64')

In [119]:
smen = df[(df['gender'] == 'male') & (df['smoke'] == 1) & (df['age_y'] > 60) & (df['age_y'] <= 64)]
smen.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_y
id,,,,,,,,,,,,,
52,23388,male,162,72.0,130,80,1,1,1,0,1,1,64
90,22099,male,171,97.0,150,100,3,1,1,0,1,1,61
248,22671,male,174,74.0,130,80,3,1,1,0,1,1,62
318,23376,male,175,75.0,180,100,3,1,1,1,1,1,64
410,22415,male,173,70.0,130,70,2,1,1,1,1,0,61

In [120]:
sick1 = smen[(smen['ap_hi'] < 120) & (smen['cholesterol'] == 1)]

In [121]:
sick2 = smen[(smen['ap_hi'] >= 160) & (smen['ap_hi'] < 180) & (smen['cholesterol'] == 3)]

In [123]:
sick1['cardio'].mean() / sick2['cardio'].mean() # q5 3

0.2894736842105263

In [129]:
df['bmi'] = df['weight'] / (df['height'] * df['height'] / 10000)
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_y,bmi
id,,,,,,,,,,,,,,
0,18393,male,168,62.0,110,80,1,1,0,0,1,0,50,21.967120
1,20228,female,156,85.0,140,90,3,1,0,0,1,1,55,34.927679
2,18857,female,165,64.0,130,70,3,1,0,0,0,1,52,23.507805
3,17623,male,169,82.0,150,100,1,1,0,0,1,1,48,28.710479
4,17474,female,156,56.0,100,60,1,1,0,0,0,0,48,23.011177

In [131]:
df['bmi'].median() #q6-1 yes

26.374068120774975

In [136]:
df.groupby('gender')['bmi'].mean() #q6-2 no

gender
female    27.987583
male      26.754442
Name: bmi, dtype: float64

In [138]:
df.groupby('cardio')['bmi'].mean() #q6-3 no

cardio
0    26.548175
1    28.566061
Name: bmi, dtype: float64

In [141]:
df.groupby(['gender', 'alco', 'cardio'])['bmi'].median() #q6-4 yes

gender  alco  cardio
female  0     0         25.654372
              1         27.885187
        1     0         27.885187
              1         30.110991
male    0     0         25.102391
              1         26.674874
        1     0         25.351541
              1         27.530797
Name: bmi, dtype: float64

In [145]:
df1 = df[df['ap_lo'] <= df['ap_hi']]

In [147]:
df2 = df1[(df1['height'] >= df1['height'].quantile(.025)) & (df1['height'] <= df1['height'].quantile(.975))]

In [159]:
df = df2[(df2['height'] >= df2['height'].quantile(.025)) & (df2['height'] <= df2['height'].quantile(.975))]
(1 - df['gender'].count() / 70000) * 100  # q7 10%

10.054285714285715